// Theme Colors
$body-color 		    : #f8f9fa;
$theme-color 			: #80040b;
$theme-color-alt 		: #61060c;

// General Colors
$color-trans 			: transparent;

// Text Colors
$text-color 			: #3c4043;
$text-color-alt 		: #202124;