fname
lname
address
address_line2
city
state
zip
country
phone
alternet_phone
email
found

current_security_license
armed_license
armlicense
armexp_date
unarmed_license
unarmlicense
unarmexp_date
years_18
eligible_usa
worked_school
worked_company
crime
crime_details
desired_position2
date_start
desired_position array
not_available_to_work
learncompnay
non_compete
agreement_with
agreement_duration
agreement_starting
agreement_ending

graduated_from array
degree_obtained
other_training
military_experience
dates_served
branch_of_service
rank_at_discharge
driver_license
license_revoked
license_revoked_explain


emplyer1
emplyer1_business
emplyer1_phone
emplyer1_street
emplyer1_address_line2
emplyer1_city
emplyer1_state
emplyer1_zip
emplyer1_country
emplyer1_position_held
emplyer1_suevisor_name
emplyer1_date_started
emplyer1_date_ended
emplyer1_wage_start
emplyer1_wage_end
emplyer1_reason_leaving
may_contact_1



emplyer2
emplyer2_business
emplyer2_phone
emplyer2_street
emplyer2_address_line2
emplyer2_city
emplyer2_state
emplyer2_zip
emplyer2_country
emplyer2_position_held
emplyer2_suevisor_name
emplyer2_date_started
emplyer2_date_ended
emplyer2_wage_start
emplyer2_wage_end
emplyer2_reason_leaving
may_contact_2


emplyer3
emplyer3_business
emplyer3_phone
emplyer3_street
emplyer3_address_line2
emplyer3_city
emplyer3_state
emplyer3_zip
emplyer3_country
emplyer3_position_held
emplyer3_suevisor_name
emplyer3_date_started
emplyer3_date_ended
emplyer3_wage_start
emplyer3_wage_end
emplyer3_reason_leaving
may_contact_3

agreement
todays_date








